VITE_API_URL=http://localhost:3000/api/v1
VITE_APP_NAME=Rei.s
VITE_APP_URL=http://localhost:5173

# PayPal
VITE_PAYPAL_CLIENT_ID=ASs3BBPnp7zNwBTYzXTatgORTZD0Wv0WBF-tpQvdeiasDMKQZUCHJ_Y014AuFoKZbruL9dyIIMPMKS-m